@media (max-width: 991.98px) {
  /* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header */

  .header__list {
    padding-left: 0;
    padding-right: 87px;
  }

  .header__list li {
    margin: 0 0 0 64px;
  }

  .header__list li:first-child {
    margin: 0;
  }

  /* description *//* description *//* description *//* description *//* description *//* description *//* description *//* description *//* description *//* description *//* description *//* description *//* description *//* description *//* description */

  .description__info-title {
    margin-bottom: 17px;

    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
  }

  .description__info-text {
    max-width: 346px;

    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
  }

  .description__image {
    background-image: url(../img/description_logo-690.png);
    background-position: 81% 44%;
    background-repeat: no-repeat;
  }

  /* benefits *//* benefits *//* benefits *//* benefits *//* benefits *//* benefits *//* benefits *//* benefits *//* benefits *//* benefits *//* benefits *//* benefits *//* benefits *//* benefits *//* benefits *//* benefits */

  .benefits__descr {
    margin-top: 85px;
    padding-left: 241px;

    background-image: url(../img/benefits-logo-690.png);
    background-position: 2% 41%;
    background-repeat: no-repeat;
  }

  .benefits__list-item {
    display: block;
  }

  .item-content {
    padding: 90px 0 0 0;
    margin: 0;
    background-position: top left;
  }

  .benefits__bottom {
    margin-top: 30px;
  }

  .benefits__text {
    font-size: 16px;
  }

  /* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers *//* teachers */

  .teachers__list-item img {
    margin-bottom: 28px;
    border-radius: 45px 45px 0px 0px;
    width: 100%;
  }

  /* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses *//* courses */

  .courses__hours {
    right: 51px;
  }

}
