@media (max-width: 1199.98px) {

  .container {
    padding: 0 50px;
  }

  /* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header */

  body.lock {
    overflow: hidden;
  }

  .header-top {
    padding: 0;
  }

  .header__container {
    justify-content: space-between;

    padding-top: 29px;
    padding-bottom: 26px;
    padding-right: 55px;
  }

  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 187px;
            flex: 0 0 187px;
    display: block;

    margin-top: 0;
  }

  .header__logo img {
    margin: 0;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 36px;
    height: 33px;

    z-index: 20;
  }



  .header__burger span {
    position: absolute;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    width: 77%;
    height: 4px;
    top: 14.2px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:focus-visible span {
    background-color: var(--focus-color);
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: var(--white-color);
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger:focus-visible::before,
  .header__burger:focus-visible::after {
    background-color: var(--focus-color);
  }

  .header__burger::before {
    top: 2px;
  }

  .header__burger::after {
    width: 67%;
    bottom: 2px;
  }

  .header__burger.active {
    width: 36px;
    height: 23px;
  }

  .header__burger.active::after {
    width: 100%;
    left: -5px;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    left: -5px;
  }

  .header__burger.active span {
    width: 100%;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    width: 100%;
  }

  .header__nav-log {
    display: block;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 114px 10px 20px 46px;

    z-index: 5;
    overflow: auto;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    background: rgba(0, 0, 0, 0.9);
  }

  .header__nav-log.active {
    top: 0;
    left: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 39px 0;
  }

  .header__link {
    font-size: 24px;
  }

  .bottom,
  .header-bottom {
    display: none;
  }


  .header__mobile-enter-btn {
    padding: 15px 92px;

    border: 2px solid #9D5CD0;
    border-radius: 100px;

    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    z-index: 2;
    color: var(--white-color);
  }

  .header__btn-enter {
    margin: 0;
    margin-top: 110px;
  }

  .header__mobile-enter-btn:hover {
    background: #9D5CD0;
  }

  .header__mobile-enter-btn:active {
    background: #7943A4;
    border: 2px solid #D1A9F0;
  }

  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    position: absolute;
    top: -25px;
    right: 0px;

    padding: 5px 3px 5px 12px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    transform: translateY(-130%);
    background-color: #18171B;

    -webkit-transition: all .3s ease-in-out .2s, -webkit-transform .3s ease-in-out;
    transition: all .3s ease-in-out .2s, -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out, opacity .3s ease-in-out .2s;
    transition: all .3s ease-in-out, all .3s ease-in-out .2s, -webkit-transform .3s ease-in-out;
  }

  .form__active {
    overflow: hidden;
    transform: none;
    top: -6px;
  }

  .form-btn-open,
  .form-btn-submit {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
  }

  .form__input {
    width: 215px;
    padding: 5px;
    margin: 0;

    border: 0;
    border-bottom: 1px solid var(--white-color);
    color: #fff;
    background-color: #18171B;

    border-radius: 0;
    -webkit-border-radius:0px;
    -webkit-appearance: none;
  }


  .search-container {
    display: block;
    position: relative;

    z-index: 25;
  }

  .form-container {
    display: inline-block;
  }

  .form-btn-open path,
  .form-btn-open rect,
  .form-btn-submit path,
  .form-btn-submit rect {
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
  }
  .form-btn-open:hover path,
  .form-btn-open:hover rect,
  .form-btn-submit:hover path,
  .form-btn-submit:hover rect {
    fill: var(--hover-color);
  }

  .form-btn-submit {
    margin-right: 8px;
  }

  .form-btn-open {
    position: relative;
    top: 2px;
    left: 5px;

    -webkit-transition: opacity .3s ease-in-out;

    -o-transition: opacity .3s ease-in-out;

    transition: opacity .3s ease-in-out;
  }

  .form-btn-open.active {
    opacity: 0;
  }



  .form__input:focus-visible {
    outline: 0;
    opacity: 0.8;
  }

  .form-btn-close {
    display: none;
  }

  .header__center-content {
    display: block;
  }

  .header__logo {
    display: none;
  }

  .header__right-content {
    flex-grow: 0;
  }

  /* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero */

  .hero__info {
    padding-bottom: 114px;
  }

  .hero__fade-slide:nth-child(1) {
    background-image: url(../img/2-hero/hero-img-1-1024.jpg);
    -webkit-animation-delay: 0;
            animation-delay: 0;
  }

  .hero__fade-slide:nth-child(2) {
    background-image: url(../img/2-hero/hero-img-2-1024.jpg);
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }

  .hero__fade-slide:nth-child(3) {
    background-image: url(../img/2-hero/hero-img-3-1024.jpg);
    -webkit-animation-delay: 12s;
            animation-delay: 12s;
  }

  .hero__fade-slide:nth-child(4) {
    background-image: url(../img/2-hero/hero-img-1-1024.jpg);
    -webkit-animation-delay: 18s;
            animation-delay: 18s;
  }

  .hero__fade-slide:nth-child(5) {
    background-image: url(../img/2-hero/hero-img-2-1024.jpg);
    -webkit-animation-delay: 24s;
            animation-delay: 24s;
  }

  .hero__fade-slide:nth-child(6) {
    background-image: url(../img/2-hero/hero-img-3-1024.jpg);
    -webkit-animation-delay: 30s;
            animation-delay: 30s;
  }

  .hero__info {
    max-width: 655px;
    padding-top: 113px;
  }

  .hero__descr {
    margin-top: 10px;
  }

  .hero__btn {
    margin-top: 135px;
  }

  /* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us */

  .about-us__container {

    padding-top: 80px;
    padding-bottom: 0;
  }


  /* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary *//* gallary */

  .gallery {
    padding-top: 80px;
    padding-bottom: 80px;

    background: url(../img/4-gallery/gallery-background-1024.jpg);
  }

  .gallery__swiper-slide::before {
    padding-top: 98.4%;
  }

  .gallery__pagination {
    margin-right: 10px;
  }

  .choices__list--single {
    padding: 5px 16px 4px 2px;
  }

  .gallery__bot-left-elem {
    margin-top: -3px;
  }

  .gallery__top-left-elem,
  .gallery__bot-left-elem {
    width: calc(400 / 1322 * 100%);
  }

  .gallery__right-elem {
    width: calc(1150 / 1796 * 100%);
  }

  /* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog */

  .catalog__title {
    margin-right: 33px;
    margin-top: 2px;
  }

  .catalog__head {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 4px;
  }

  .catalog__tabs {
    margin-top: 13px;
  }

  .catalog__country-info {
    max-width: 100%;
  }

  .catalog__content-left {
    width: 50%;
  }

  .tab__content-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tab__left-side {
    max-width: 100%;

    margin-right: 0;
    margin-top: 50px;

    -webkit-box-ordinal-group: 3;

        -ms-flex-order: 2;

            order: 2;
  }

  .tab__left-side img {
    width: 100%;
  }

  .tab__rigth-side {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .catalog__accordion {
    padding-bottom: 81px;
  }

  .catalog__accordion-text {
    max-width: 100%;
  }

  .catalog__painter-list {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    padding-bottom: 25px;
  }

  .painter__info {
    max-width: 100%;
  }

  .accordion {
    max-width: 47%;
  }

  /* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events */

  /* .events__container {
    padding-right: 0;
  } */

  .events__title {
    margin-bottom: 17px;
  }

  .events__list-item {
    width: calc(100% / 3 - 16px);

    margin-right: 24px;
  }

  .events__card-body {
    padding: 0 21px 49px 35px;
  }

  .events__card-body-top {
    padding-top: 11px;
  }

  .events__teg {
    letter-spacing: -0.3px;
  }

  .events__item-title {
    display: none;
  }

  .events__item-text {
    display: none;
  }

  .events__item-title-1024 {
    display: block;
    margin-top: 4px;
  }

  .events__item-text-1024 {
    display: block;
  }

  .btn-center {
    padding-right: 29px;
  }

  .events__btn {
    margin-top: 29px;
    line-height: 26px;
  }

  .events__open-btn {
    margin-bottom: 81px;
  }

  /* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  *//* publications  */

  .publications {
    padding-bottom: 79px;
    background-image: url(../img/7-publications/publications-background-1024.jpg);
  }

  .publications-swiper {
    width: calc(1089 / 1600 * 100%);
    margin-left: 18px;
  }

  .publications-info {
    padding-top: 12px;
  }

  .publications__subtitle {
    padding-top: 14px;
  }

  .publications-price__form {
    margin-top: 13px;
  }

  .publications__button {
    margin-top: 17px;
    margin-left: 4px;
    margin-bottom: 10px;
    padding: 8px 22px
  }

  .publications-span {
    right: 1%;
  }

  /* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects */

  .projects__descr {
    overflow: hidden;
    max-width: 99%;
  }

  .partners__swiper-container {
    max-width: 88%;
  }

  .partners__swiper-slide-link {
    height: 105px;
  }

  .partners__swiper-slide-img {
    height: 50px;
  }

  /* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts */

  .contacts__title {
    margin-top: 80px;
    margin-bottom: 16px;
  }

  .contacts__container-block {
    padding: 0 32px 0 50px;
  }

  .contacts__contacts {
    width: calc(437 / 924 * 100%);
  }

  .contacts__form-input {
    width: 106%;
  }

  .contacts__form-title {
    margin-top: 28px;
  }

  .contacts__btn {
    padding: 15px 34px;
  }

  .contacts__bottom {
    margin-top: 38px;
  }

  .contacts__content-left {
    padding: 124px 129px 101px 0;
  }

  .contacts__map {
    width: calc(487 / 924 * 100% + ((100vw - 100%) / 2));
  }

  .contacts__bottom-link svg {
    width: 60px;
    height: 60px;
  }

  .telegram-link {
    margin-left: 30px;
  }

  /* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */

  .footer__content {
    padding: 40px 0;
  }

  .footer__logo {
    padding-top: 10px;
  }

  .footer__list-item:not(:last-child) {
    margin-right: 30px;
  }

  .footer__link svg {
    width: 60px;
    height: 60px;
  }

  /* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal */

  .modal {
    width: 594px;
    height: 594px;
  }

  .modal-wrap-left img {
    height: 594px;
  }

  .modal-wrap-right {
    padding: 122px 35px 82px 48px;
  }

}
