@media (max-width: 970px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header */

  .header__container {
    padding-right: 60px;
  }

  .search-container {
    position: initial;
  }

  .form {
    padding: 10px 30px 10px 30px;

    top: 0px;
    left: 0px;
    right: 0;

    background-color: var(--black-color);
  }

  .form__active {
    top: 24px;
  }

  .form__input {
    width: 100%;
    background-color: var(--black-color);
  }

  .form-btn-open {
    left: 10px;
  }

  .form-btn-open svg {
    width: 27px;
    height: 27px;
  }

  .form-btn-close {
    display: block;
    padding-left: 10px;
  }

  .form-btn-close svg path {
    fill: var(--white-color);
  }


  /* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero */

  .hero__container {
    padding: 0 45px 0 50px;
    margin-top: 0;
  }

  .hero__fade-container {
    margin-top: 140px;
  }

  .hero__fade-slide:nth-child(1) {
    background-image: url(../img/2-hero/hero-img-1-768.jpg);
  }

  .hero__fade-slide:nth-child(2) {
    background-image: url(../img/2-hero/hero-img-2-768.jpg);
  }

  .hero__fade-slide:nth-child(3) {
    background-image: url(../img/2-hero/hero-img-3-768.jpg);
  }

  .hero__fade-slide:nth-child(4) {
    background-image: url(../img/2-hero/hero-img-1-768.jpg);
  }

  .hero__fade-slide:nth-child(5) {
    background-image: url(../img/2-hero/hero-img-2-768.jpg);
  }

  .hero__fade-slide:nth-child(6) {
    background-image: url(../img/2-hero/hero-img-3-768.jpg);
  }

  .hero__content {
    padding: 0;
  }

  .hero__info {
    padding-bottom: 114px;
  }

  .hero__descr {
    margin-top: 10px;
  }

  /* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us */



  /* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery */

  .gallery {
    padding-bottom: 70px;
  }

  .gallery__top-left-elem,
  .gallery__right-elem {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .gallery__right-elem {
    margin-top: 29px;
  }

  .gallery__bot-left-elem {
    width: 100%;
  }

  .test-last-content {
    position: static;
  }

  .gallery__select {
    max-width: 300px;
  }

  .gallery__bottom-text {
    position: static;
  }

  .choices__inner {
    width: 93%;
  }

  .choices__list--single {
    padding: 6px 16px 4px 2px;
  }

  .choices[data-type*=select-one]:after {
    right: 34.7px;
  }

  .choices:focus {
    background: none;
    border-radius: 6px;
  }

  .choices__list--dropdown {
    width: 93%;

    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 5.5px;
  }

  .gallery__slides-container {
    margin-bottom: 14px;
  }

  .gallery__swiper-slide::before {
    padding-top: 86.5%;
  }

  .gallery__pagination {
    margin-right: 10px;
  }

  /* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog */

  .catalog {
    padding-top: 75px;
  }

  .catalog__title {
    margin-right: 31px;
    margin-top: 5px;
  }

  .catalog__content-left {
    width: 100%;
  }

  .accordion__painter-list {
    max-height: 840px;
  }

  .catalog__head {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 13px;
  }

  .catalog__tabs {
    margin-top: 6px;
  }

  .catalog__tabs-btn {
    padding: 20px;
  }

  .catalog__tabs-item:not(:last-child) {
    margin-right: 30px;
  }

  .catalog__accordion {
    padding-bottom: 51px;
  }

  .catalog__country-info {
    max-width: 100%;
    margin-bottom: 21px;
  }

  .accordion {
    margin-bottom: 49px;
  }

  .accordion__btn {
    height: 73px;
  }

  .accordion__painter-list {
    padding-top: 18px;
    padding-bottom: 21px;

  }

  .accordion__title {
    font-size: 18px;
  }

  .accordion__arrow-btn {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }

  .accordion__arrow-btn::after {
    top: 10px;
    left: 10px;
    width: 7px;
    height: 7px;
  }

  .accordion__arrow-btn--active::after {
    top: 10px;
  }

  .catalog__painter-list {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
  }

  .painter {
    padding-left: 0px;
  }

  .painter__photo {
    margin-top: 0;
    margin-bottom: 13px;
  }

  .painter__name {
    margin-bottom: 13px;
  }

  .painter__info {
    max-width: 99%;
  }

  /* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events */

  .events__container {
    padding-top: 69px;
  }

  .events__list-item {
    width: calc(100% / 2 - 16px);
    margin-right: 32px;
    margin-bottom: 51px;
  }

  .events__list-item:nth-child(3n+3) {
    margin-right: 32px;
  }

  .events__list-item:nth-child(even) {
    margin-right: 0;
  }

  .events__card-body {
    padding-top: 3px;
    padding-bottom: 47px;
  }



  .events__btn {
    margin-top: 61px;
  }


  .events__open-btn {
    margin-bottom: 79px;
  }

  /* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications */

  .publications {
    padding-top: 102px;
    padding-bottom: 50px;

    background-image: url(../img/7-publications/publications-background-768.jpg);
  }

  .publications__checkbox-wrap {
    display: block;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;

    margin-bottom: 0;
  }

  .publications__title {
    margin-bottom: 17px;
  }

  .publications-price {
    margin-top: 33px;
    padding-top: 0;
  }

  .publications__button {
    margin-top: 17px;
  }

  .projects__subtitle {
    margin-top: 27px;
    margin-bottom: 29px;
  }

  .partners__swiper-slide-link {
    height: 92px;
    padding: 6px;
  }

  /*--publications 768px--*//*--publications 768px--*//*--publications 768px--*//*--publications 768px--*//*--publications 768px--*//*--publications 768px--*//*--publications 768px--*/

  .publications-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .publications-left {
    max-width: 100%;
  }

  .publications-navigation {
    margin-left: -27px;
  }

  .publications-swiper {
    margin-bottom: 20px;
    margin-left: 0;
    padding-top: 49px;
    padding-left: 27px;
    width: calc(1538 / 1600 * 100%);
  }

  .publications__h3-price {
    padding-top: 0;
  }

  .publications-price__form {
    margin-top: 13px;
  }

  .publications-price__input {
    padding-left: 9px;
  }

  .publications__list {
    padding-top: 28px;
  }

  .publications-info {
    padding-top: 14px;
  }

  .publications-span {
    top: 14px;
    right: 1%;
  }

  .none-320 {
    display: none;
  }

  .checkbox-content {
    display: block;
  }

  /* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects */

  .projects__container {
    padding-right: 51px;
  }

  .projects {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .projects__title {
    margin-top: 25px;
    margin-bottom: 16px;
  }

  .tooltip-btn {
    top: 3px;
    right: 2px;
  }

  .partners__swiper-container {
    max-width: 84%;
  }

  .partners__swiper-slide-link {
    height: 92px;
  }

  .partners__swiper-slide-img {
    height: 38px;
  }

  /* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts */

  .contacts__container {
    padding: 0 50px;
  }

  .contacts__title {
    margin-top: 30px;
  }

  .contacts__form-title {
    margin-top: 28px;
    margin-bottom: 16px;
  }

  .contacts__container-block {
    padding-left: 50px;
  }

  .contacts__content-left {
    min-width: 380px;
    padding: 124px 44px 100px 0;
  }

  .contacts__form-input {
    width: 100%;
  }

  .contacts__map {
    width: calc(292 / 668 * 100% + ((100vw - 100%) / 2));
  }

  .contacts__bottom-link svg {
    width: 60px;
    height: 60px;
  }

  .telegram-link {
    margin-left: 30px;
  }

  /* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */

  .footer__link svg {
    width: 60px;
    height: 60px;
  }

  .footer__content {
    padding: 40px 0;
  }

  .footer__list-item:not(:last-child) {
    margin-right: 30px;
  }

  /* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal */

  .modal {
    width: 668px;
    height: 594px;
  }

  .modal-wrap-left img {
    height: 594px;
  }

  .modal-wrap-right {
    padding: 122px 35px 82px 48px;
  }



}
