@media (max-width: 626px) {
  .container {
    padding: 0 15px;
  }

  .common-title {
    font-size: 28px;
    line-height: 38px;
  }

  /* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header *//* header */

  .header-top {
    padding-top: 7px;
    padding-bottom: 5px;
  }

  .header__container {
    padding: 0 33px 0 15px;
  }

  .header__body {
    height: 45px;
    min-height: 45px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 96px;
            flex: 0 0 96px;
  }

  .header__menu {
    padding-top: 46px;
    padding-left: 15px;
    padding-right: 200px;
  }

  .header__nav-log.active {
    padding: 0;
  }

  .header__btn-enter {
    margin-top: 27px;
  }

  .header__mobile-enter-btn span {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .header__burger span {
    width: 45%;
    height: 2px;
    top: 15.2px;
  }

  .header__burger::before,
  .header__burger::after {
    width: 70%;
    height: 2px;
  }

  .header__burger::before {
    top: 7px;
  }

  .header__burger::after {
    width: 27%;
    bottom: 8px;
  }

  .header__burger.active {
    width: 36px;
    height: 33px;

    right: -2px;
    top: 4px;
  }

  .header__burger {
    right: 1px;
  }


  .header__burger.active::after {
    width: 71%;

    left: -7px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 18px;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 12px;
    left: -7px;
  }

  .header__link {
    font-size: 16px;
    line-height: 32px;
  }

  .header__list {
    padding: 0;
  }

  .header__list li {
    margin: 0 0 0 0;
  }

  .header__mobile-enter-btn {
    padding: 9px 29px;
    margin-top: 18px;
    margin-left: 14px;

    font-size: 12px;
    line-height: 16px;
  }

  .header__enter-btn svg {
    position: relative;
    top: 2px;
  }

  .form {
    padding-top: 20px;
    padding-left: 57px;
    padding-bottom: 19px;

    top: 6px;
    left: 0px;
    right: 0px;
  }

  .form-btn-open {
    left: 18px;
  }

  .form-btn-open svg {
    width: 18px;
    height: 18px;
  }

  .form-btn-submit {
    margin-right: 3px;
  }

  .form__input {
    position: relative;
    width: 77%;

    padding: 0;
    font-size: 14px;
    line-height: 28px;
  }

  .form-btn-close {
    position: absolute;
    right: 15px;
    top: 8px;
  }

  .form-btn-close svg {
    width: 15px;
    height: 15px;
  }

  .form-btn-submit svg {
    width: 16px;
    height: 16px;
  }

  /* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero *//* hero */

  .hero__fade-container {
    margin-top: 61px;
  }

  .hero__container {
    padding: 0 27px 0 29px;
  }

  .hero__content {
    padding-top: 0;
  }

  .hero__info {
    padding-top: 33px;
    padding-bottom: 46px;

    text-align: center;
  }

  .hero__title {
    font-size: 32px;
    line-height: 37px;
  }

  .hero__descr {
    margin-top: 13px;

    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__btn {
    margin-top: 40px;
    padding: 9px 16px;

    font-size: 12px;
    line-height: 16px;
  }

  /* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us *//* about-us */

  .about-us__title {
    margin-top: 50px;
    margin-bottom: 12px;
  }

  .about-us__content {
    margin: 0 0 41px 0;
  }

  .about-us__descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery *//* gallery */

  .gallery {
    padding: 50px 0 40px 0;
  }

  .gallery__title {
    margin-bottom: 0;
  }

  .gallery__subtitle {
    margin-top: 12px;
    margin-bottom: 5px;
  }

  .gallery__top-left-elem,
  .gallery__right-elem {
    margin-bottom: 10px;
  }

  .gallery__right-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .gallery__bot-left-elem {
    margin-top: 8px;
  }

  .gallery__swiper-navigation {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 4px;
    margin-bottom: 0;
  }


  .gallery__swiper-slide::before {
    padding-top: 125%;
  }

  .choices__inner {
    width: 100%;
  }

  .choices__list--dropdown {
    width: 100%;
  }

  .choices[data-type*=select-one]:after {
    right: 15.7px;
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 5.5px;
  }

  /* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog *//* catalog */

  .catalog {
    padding-top: 46px;
  }

  .catalog__tabs-btn {
    width: 25px;
    height: 25px;
    background-size: 31px;
  }

  .catalog__tabs-item:not(:last-child) {
    margin-right: 24px;
  }

  .catalog__head {
    margin-bottom: 18px;
  }

  .catalog__country-info {
    display: none;
  }

  .catalog__accordion-title {
    padding: 20px 120px 20px 0px;

    font-size: 18px;
    line-height: 32px;
  }


  .accordion-icon {
    width: 30px;
    height: 30px;
  }

  .catalog__content-title {
    margin-top: 19px;
    margin-bottom: 11px;
  }

  .catalog__painter-list {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    padding-top: 22px;
    padding-bottom: 20px;
  }

  .catalog__accordion-text-left {
    position: relative;
    left: -64px;
    top: -12px;

    transform: rotate(90deg);
  }

  .right-title {
    font-size: 18px;
    line-height: 32px;
  }

  .right-text {
    font-size: 16px;
    line-height: 22px;
  }

  .empty-text {
    display: block;
  }

  /* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events *//* events */

  .events__title {
    margin-top: 50px;
    margin-bottom: 12px;
  }

  .events__list-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 19px;
  }

  .events__card-body {
    padding: 0 12px 49px 28px;
  }

  .events__slides-wrap {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .events__card-body-top {
    padding-top: 15px;
  }

  .events__btn {
    margin-top: -6px;
  }

  .events-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    margin-bottom: 51px;
  }

  .events__open-btn {
    display: none;
  }

  /* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications *//* publications */

  .publications {
    padding-top: 68px;
    padding-bottom: 29px;
    background-image: url(../img/7-publications/publications-background-320.jpg);

  }

  .publications__title {
    margin-bottom: 13px;
  }

  .publications__checkbox-btn {
    position: relative;
    display: block;
    width: 100%;
    padding: 1px 40px 4px 0;
    color: var(--white-color);
    text-align: left;
    font-size: 24px;
    background-color: transparent;
  }

  .publications-span {
    position: relative;
    top: -3px;
    right: 0;
    font-size: 11px;
  }

  .publications-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
    font-size: 12px;
  }

  .for-desctop-title {
    display: none;
  }

  .swiper-pagination-bullet {
    background: #cacaca;
  }

  .swiper-pagination-bullet-active {
    background: #666;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7.5px;
  }

  .publications__checkbox-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 100%;
    margin-bottom: 24px;
  }

  .publications__subtitle {
    padding-top: 2px;
    padding-bottom: 12px;
  }

  .publications__checkbox-btn {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 16px;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  .publications__checkbox-btn:focus-visible {
    color: var(--hover-color);
  }

  .publications__checkbox-btn::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 2px;
    width: 8px;
    height: 8px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    -webkit-transform: translateY(calc(-50% - 0.5px)) rotate(45deg);
        -ms-transform: translateY(calc(-50% - 0.5px)) rotate(45deg);
            transform: translateY(calc(-50% - 0.5px)) rotate(45deg);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }

  .publications__checkbox-btn.is-active::after {
    -webkit-transform: translateY(-50%) rotate(225deg);
        -ms-transform: translateY(-50%) rotate(225deg);
            transform: translateY(-50%) rotate(225deg);
  }

  .publications-price {
    margin-top: 24px;
    padding-top: 0;
  }

  .publications__checkbox-btn.is-active ~ .checkbox-wrap .checkbox-content,
  .publications__checkbox-btn:not(.is-active)
    ~ .checkbox-wrap
    .checkbox:checked
    ~ .checkbox-content {
    min-height: 39px;
    height: auto;
    padding-top: 3px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ffffff;
    opacity: 1;
  }

  .checkbox-wrap .checkbox-content {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 0;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 0 solid transparent;
    opacity: 0;
    -webkit-transition-property: min-height, opacity, padding, border;
    -o-transition-property: min-height, opacity, padding, border;
    transition-property: min-height, opacity, padding, border;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
  }

  .checkbox:checked ~ .checkbox-content .close-icon {
    opacity: 1;
  }

  .close-icon {
    position: absolute;
    right: -2px;
    top: 9px;
    width: 18px;
    height: 18px;
    opacity: 0;
    -webkit-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
  }

  .close-icon::before,
  .close-icon::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #C283F3;
  }

  .close-icon::before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -ms-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-icon::after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
        -ms-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }

  .publications__button {
    margin-top: 6px;
    margin-left: 0;
    margin-bottom: 0;
    padding: 11px 4px;
    font-size: 13px;
  }

  .publications__item:not(:last-child) {
    margin-bottom: 20px;
  }

  .publications__container {
    padding: 0 15px;
  }

  .publications-price__form {
    margin-top: 3px;
  }

  .publications-price__input {
    padding-top: 3px;
  }

  .publications-swiper {
    padding-left: 0;
    width: calc(1598 / 1600 * 100%);
  }

  .publications-navigation {
    display: none;
  }

  .publications__list {
    padding-top: 1px;
  }

  .publications__item:nth-child(2n) {
    margin-right: 0;
  }

  .publications__book-name {
    font-size: 11.8px;
    line-height: 12px;
  }

  .none-320 {
    display: none;
  }

  .publications-test {
    max-width: 136px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox *//* checkbox */

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  /* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects *//* projects */

  .projects {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .projects__title {
    margin-top: 50px;
    margin-bottom: 12px;
  }

  .projects__text {
    display: none;
  }

  .for-320px {
    display: block;
  }

  .projects__subtitle {
    margin-top: 10px;
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 32px;
  }

  .partners__swiper-container {
    max-width: 67%;
  }

  .partners__swiper-slide-link {
    height: 51px;
  }

  .partners__swiper-slide-img {
    height: 28px;
  }

  /* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts *//* contacts */

  .contacts__title {
    margin-top: 0px;
    margin-bottom: 12px;
  }

  .contacts__container-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .contacts__adress {
    display: none;
  }

  .contacts__for-320px {
    display: block;
  }

  .contacts__subtitle {
    margin-bottom: -6px;

    font-size: 18px;
    line-height: 25px;
  }

  .contacts__text {
    margin-bottom: 12px;

    font-size: 14px;
    line-height: 28px;
  }

  .contacts__content-left {
    padding: 0 44px 26px 0;
  }

  .contacts__form-title {
    margin-top: 20px;

    font-size: 18px;
    line-height: 32px;
  }

  .contacts__form-input {
    width: 86%;
    margin-bottom: 21px;
  }

  .contacts__btn {
    padding: 9px 33px;

    font-size: 12px;
    line-height: 16px;
  }

  .contacts__bottom {
    margin-top: 21px;
  }

  .contacts__bottom-text {
    font-size: 18px;
    line-height: 32px;
  }

  .contacts__bottom-list {
    margin-top: 7px;
  }

  .contacts__bottom-link svg {
    width: 50px;
    height: 50px;
  }

  .telegram-link {
    margin-left: 20px;
  }

  .contacts__wrap,
  .contacts__contacts {
    border: none;
  }

  .contacts__contacts,
  .contacts__map {
    width: calc(100% + 30px);
  }

  .contacts__map {
    height: 320px;
    margin-right: -15px;
    margin-left: -15px;
  }

  /* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer *//* footer */

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
  }

  .footer__content picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__link svg {
    width: 50px;
    height: 50px;
  }

  .footer__content img {
    margin-top: 7px;
  }

  /* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal *//* modal */

  .modal {
    width: 290px;
    height: 600px;
  }

  .modal-wrap {
    flex-direction: column;
  }

  .modal-descr {
    margin-top: 5px;
  }

  .modal-wrap-left {
    width: 100%;
  }

  .modal-wrap-left img {
    height: 200px;
    width: 100%;
  }

  .modal-wrap-right {
    width: 100%;
    padding: 16px 21px 26px 18px;
  }
}
